@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
/* Add to your global CSS */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typing-cursor::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 2px;
}